<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlCon" connectionString="Data Source=10.249.XXX.YY;Initial Catalog=SQLDB;User ID=sa;Password=XYZ;Max Pool Size=3000;Min Pool Size=5" providerName="System.Data.SqlClient" />
		<add name="OracleCon" connectionString="Data Source=10.249.XXX.YY;Initial Catalog=OracleDB;User ID=sa;Password=XYZ;Max Pool Size=3000;Min Pool Size=5" providerName="System.Data.SqlClient" />
		<add name="MySqlCon" connectionString="Data Source=10.249.XXX.YY;Initial Catalog=MySQLDB;User ID=sa;Password=XYZ;Max Pool Size=3000;Min Pool Size=5" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>